---
interface Header {
  name: string;
  title: string;
  description: string[];
}

type Props = Header;
const { name, title, description } = Astro.props;
---

<header class="bg-[#181818] text-base leading-relaxed py-2 sm:py-8">
  <h1 class="text-2xl text-[#fffe] leading-tight mb-5">
    {name}
    <br />
    <small class="opacity-60">{title}</small>
  </h1>
  {description.map((para) => <p set:html={para} class="text-gray-400 mb-5" />)}
</header>
