---
import { classes } from "../shared/classes"

interface Props {
  records: { name: string; level: string }[]
}

const { records } = Astro.props
---

I speak:
<ul
  class="z-100 mb-5 mt-3 grid list-none grid-cols-2 flex-wrap justify-start gap-3 sm:inline-flex sm:place-items-start md:ml-2"
>
  {
    records.map(({ name, level }) => (
      <li class={classes.pill + " flex justify-between border-opacity-75 pr-1 text-slate-300/75"}>
        {name}
        <span class="relative ml-1 inline-block truncate rounded-sm bg-slate-800 px-2 text-blue-200/80 shadow-black drop-shadow-md hover:z-10 hover:overflow-visible hover:whitespace-normal print:bg-transparent print:text-slate-900">
          {level}
        </span>
      </li>
    ))
  }
</ul>
