---
import { classes } from "../shared/classes";

interface Stack {
  title: string;
  items: string[];
}

interface Props {
  records: Stack[];
}

const { records } = Astro.props;
---

<section class={classes.section}>
  <h2 class={classes.h2}>Skills</h2>
  <ul class="print:inline">
    {
      records.map(({ title, items }) => (
        <li class="md:grid print:inline-block print:m-0 print:p-0 grid-cols-6 group cursor-default  ">
          <h3
            class={
              classes.h3 +
              " text-sm !text-slate-400/50 group-hover:!text-slate-100 transition-color lg:text-right mr-5 relative md:top-5 print:text-left"
            }
          >
            {title}
          </h3>
          <ul class="col-span-5 flex print:inline mt-3 p-3 place-items-start justify-start gap-3 flex-wrap list-none z-100 group-hover:bg-slate-900 border-l border-transparent group-hover:border-slate-800 transition-all rounded-lg">
            {items.map((title) => (
              <li class="print:inline-block print:border-transparent print:after:content-[',_'] print:text-slate-800 border border-slate-800 group-hover:border-blue-400/50 group-hover:text-blue-300 text-blue-400/75 transition-colors py-1 px-2 rounded-md whitespace-nowrap">
                {title}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>
