---
import {
  Header,
  Contact,
  TechStack,
  Experience,
  Education,
} from "../components";

import "printed";

type HeadersProps = Parameters<typeof Header>[0];
type ContactProps = Parameters<typeof Contact>[0];
type TechStackProps = Parameters<typeof TechStack>[0];
type ExperienceProps = Parameters<typeof Experience>[0];
type EducationProps = Parameters<typeof Education>[0];

interface Props {
  frontmatter: {
    header: HeadersProps;
    contact: ContactProps;
    techStack: TechStackProps;
    experience: ExperienceProps;
    education: EducationProps;
  };
}

const {
  frontmatter: { header, contact, techStack, experience, education },
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
    <title>Astro</title>
  </head>
  <body
    class="bg-slate-950 print:bg-white print:text-slate-900 text-base text-slate-400 leading-relaxed p-8 sm:p-8 antialiased"
  >
    <div class="max-w-4xl mx-auto">
      <div>
        <Header {...header} />
        <Contact {...contact} />
      </div>
      <TechStack {...techStack} />
      <Experience {...experience} />
      <Education {...education} />
    </div>
  </body>
</html>
